---
export function getStaticPaths() {
    const links = [
  "Crochiuri",
  "Cronica de carte",
  "Atelier literar",
  "Patrimoniu",
  "Evenimente culturale",
  "Evenimente +"
];
    return links.map((link) => {
        return { params: { id: link } };
    });
}
const { id } = Astro.params;
import Post from "../layouts/Post.astro";
const posts = await fetch(import.meta.env.URL+"/"+id+".json").then(res=>res.json());
---

<Post title="postare">
    <div class="flex flex-col gap-2 prose-xl">
        {
            posts.map((item:string) => {
                return (
                    <a
                        class="p-2 bg-base-200 rounded-lg shadow-sm hover:bg-base-300 active:invert"
                        href={"/" + id + "/" + item}
                    >
                        {item}
                    </a>
                );
            })
        }
    </div>
</Post>
