---
export function getStaticPaths() {
    const links = [
  "Crochiuri",
  "Cronica de carte",
  "Atelier literar",
  "Patrimoniu",
  "Evenimente culturale",
  "Evenimente +"
];
    return links.map((link) => {
        return { params: { id: link } };
    });
}
const { id } = Astro.params;
import Post from "../layouts/Post.astro";
import { preview } from "./index.astro";
---

<Post title="postare">
    <div class="flex flex-col gap-2 prose-xl">
        {
            preview[id as keyof typeof preview].map((item) => {
                return (
                    <a
                        class="p-2 bg-base-200 rounded-lg shadow-sm hover:bg-base-300 active:invert"
                        href={"/" + id + "/" + item}
                    >
                        {item}
                    </a>
                );
            })
        }
    </div>
</Post>
