---
import Layout from "../layouts/Layout.astro";
import "@fontsource/lobster";

const links = [
  "Folieton",
  "Istorie",
  "Cronica de spectacol",
  "Atelier literar",
  "Xinaxar",
  "O carte pe saptamana",
  "Evenimente culturale",
];
const preview = {
  Folieton: ["Ionășenii lui Balș"],
  Istorie: [],
  "Cronica de spectacol": [],
  "Atelier literar": [],
  Xinaxar: [],
  "O carte pe saptamana": [],
  "Evenimente culturale": [],
};
---

<Layout title="Botosani cultural">
  <div class="flex flex-col min-h-screen w-screen">
    <img
      class="absolute z-0 h-full sm:w-full sm:max-h-max opacity-30 object-cover"
      src="bg.png"
    />
    <div class="relative z-10 h-screen flex justify-center items-center">
      <div class="text-5xl sm:text-5xl md:text-6xl lg:text-9xl font-[Lobster]">
        Botoșani cultural
      </div>
    </div>
    <div
      class="relative z-20 -mt-40 sm:mt-0 grid grid-flow-row grid-cols-1 sm:grid-cols-2 mx-4 gap-3"
    >
      {
        links.map((link) => {
          return (
            <div class="bg-base-300 rounded-md p-4 flex flex-col gap-1">
              <a href={link} class="text-3xl">
                {link}
              </a>
              {preview[link as keyof typeof preview].map((item) => {
                return (
                  <a
                    href={"/" + link + "/" + item}
                    class="alert rounded-lg hover:bg-base-300 active:invert"
                  >
                    <span>{item}</span>
                  </a>
                );
              })}
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
