---
import Layout from "../layouts/Layout.astro";
import "@fontsource/lobster";

const links = [
  "Crochiuri",
  "Cronica de carte",
  "Atelier literar",
  "Patrimoniu",
  "Evenimente culturale",
  "Evenimente +"
];

let preview:Array<any>=[];
for(let i=0;i<links.length;i++){
  const response = await fetch(import.meta.env.URL + "/" + links[i] + ".show.json").then(res=>res.json());
  console.log(response)
preview.push(response)
}

    

---

<Layout title="Botosani cultural">
  <div class="flex flex-col min-h-screen w-screen">
    <img
      class="absolute z-0 h-full sm:w-full sm:max-h-max opacity-40 object-cover"
      src="bg.png"
    />
    <div class="relative z-10 h-screen flex justify-center items-center">
      <div class="text-5xl sm:text-5xl md:text-6xl lg:text-9xl font-[Lobster] flex items-center gap-2 sm:gap-5">
        Monoclu: Botoșani <span class="text-[90px] sm:text-[140px] md:text-[180px]">+</span>
      </div>
    </div>
    <div
      class="relative z-20 -mt-40 sm:mt-0 grid grid-flow-row grid-cols-1 sm:grid-cols-2 mx-4 gap-3"
    >
      {
        links.map((link) => {
          
          return (
            <div class="rounded-md p-4 flex flex-col gap-1 bg-gradient-to-tr from-base-200 to-base-300 via-base-300 border-2 border-neutral border-opacity-40">
              <a href={link} class="text-3xl">
                {link}
              </a>
              { 

                preview[links.indexOf(link)].map((item:string) => {
                return (
                  <a
                    href={"/" + link + "/" + item}
                    class="alert rounded-lg hover:bg-base-300 active:invert "
                  >
                    <span>{item}</span>
                  </a>
                );
              })
            }
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
