<footer class="footer p-10 z-10 bg-neutral text-neutral-content relative mt-10">
  <div>
    <h1 class="text-3xl">Botosani cultural</h1>
  </div>
  <div>
    Mail: asainenco2@gmail.com
    <br />

    Telefon: 123123123
  </div>
  <div class="footer-end">
    <a href="https://github.com/LucaSain">dezvoltat de Sainenco Luchian</a>
  </div>
</footer>
